<h2>Angular Services</h2>

<div class="page">

  <!-- Hero -->
  <mat-card class="hero-card">
    <h1>Angular Services</h1>

    <p>
      Services in Angular are used to share data and business logic
      between multiple components.
    </p>
  </mat-card>

  <!-- What is Service -->
  <mat-card class="section-card">

    <h2>What is a Service?</h2>

    <mat-divider></mat-divider>

    <p>
      A service is a class that provides reusable logic and data
      to different parts of an Angular application.
    </p>

  </mat-card>

  <!-- Why Services -->
  <mat-card class="section-card">

    <h2>Why Use Services?</h2>

    <mat-divider></mat-divider>

    <div class="features">
      <mat-chip selected>Reusable Business Logic</mat-chip>
      <mat-chip selected>Data Sharing</mat-chip>
      <mat-chip selected>Clean Components</mat-chip>
      <mat-chip selected>Better Architecture</mat-chip>
    </div>

  </mat-card>

  <!-- Service Example -->
  <mat-card class="section-card">

    <h2>Service Example</h2>

    <mat-divider></mat-divider>

    <pre [textContent]="serviceExample"></pre>

  </mat-card>

  <!-- Using Service -->
  <mat-card class="section-card">

    <h2>Using Service in Component</h2>

    <mat-divider></mat-divider>

    <pre [textContent]="componentExample"></pre>

  </mat-card>

</div>