<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side" opened class="sidenav">

    <mat-nav-list>

      <h3 mat-subheader>{{ selectedMenu?.name }}</h3>

      <a mat-list-item
         *ngFor="let item of selectedMenu?.items"
         [routerLink]="item.link">

        {{ item.name }}

      </a>

    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>