<h2>Angular Lifecycle Hooks</h2>

<div class="page">

  <!-- Hero -->
  <mat-card class="hero-card">
    <h1>Lifecycle Hooks</h1>

    <p>
      Lifecycle hooks allow you to run code at different stages
      of a component's life.
    </p>
  </mat-card>


  <!-- What are Lifecycle Hooks -->
  <mat-card class="section-card">

    <h2>What are Lifecycle Hooks?</h2>

    <mat-divider></mat-divider>

    <p>
      Angular components go through several phases from creation
      to destruction. Lifecycle hooks allow developers to tap
      into these phases.
    </p>

  </mat-card>


  <!-- Hooks List -->
  <mat-card class="section-card">

    <h2>Lifecycle Hook Methods</h2>

    <mat-divider></mat-divider>

    <pre [textContent]="hooksList"></pre>

  </mat-card>


  <!-- Example -->
  <mat-card class="section-card">

    <h2>Example</h2>

    <mat-divider></mat-divider>

    <pre [textContent]="hooksExample"></pre>

  </mat-card>

</div>