<h2>Angular HttpClient</h2>

<div class="page">

  <!-- Hero -->
  <mat-card class="hero-card">
    <h1>HttpClient</h1>

    <p>
      HttpClient is used to communicate with backend APIs
      and perform HTTP requests like GET, POST, PUT, DELETE.
    </p>
  </mat-card>

  <!-- What is HttpClient -->
  <mat-card class="section-card">

    <h2>What is HttpClient?</h2>

    <mat-divider></mat-divider>

    <p>
      Angular HttpClient allows applications to fetch or send
      data to a server using HTTP protocol.
    </p>

  </mat-card>

  <!-- HTTP Methods -->
  <mat-card class="section-card">

    <h2>Common HTTP Methods</h2>

    <mat-divider></mat-divider>

    <div class="features">
      <mat-chip selected>GET</mat-chip>
      <mat-chip selected>POST</mat-chip>
      <mat-chip selected>PUT</mat-chip>
      <mat-chip selected>DELETE</mat-chip>
    </div>

  </mat-card>

  <!-- Service Example -->
  <mat-card class="section-card">

    <h2>API Service Example</h2>

    <mat-divider></mat-divider>

    <pre [textContent]="serviceExample"></pre>

  </mat-card>

  <!-- Component Example -->
  <mat-card class="section-card">

    <h2>Using HttpClient in Component</h2>

    <mat-divider></mat-divider>

    <pre [textContent]="componentExample"></pre>

  </mat-card>

</div>